.td-fit {
  text-wrap: nowrap !important;
}

.td-truncate {
  max-width: 250px; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td-full-width {
  min-width: 150px;
}

.td-min-width {
  max-width: 100px;
}
